#pantry {

    .container {
        .col {
            border: 1px solid #000;
            padding: 10px 15px;
            box-sizing: border-box;
        }
    }

    .w-100 {
        width: 100%;
    }
}